/*======= Card About ========*/
.shadow-card{
    position: relative;
    display: inline-block;
    background-color: #F48E4F;
    width: 75%;
    height: 70vh;
    border-top-left-radius: 100px 50px ;
}
.middle-card{
    position: absolute;
    background-color: #9FD4CA;
    width: 95%;
    height: 100%;
    border-top-left-radius: 100px 50px ;
}
.on-card{
    position: absolute;
    background-color: #FFF;
    width: 95%;
    height: 100%;
    border-top-left-radius: 100px 50px ;
}
.container-card{
    position: absolute;
    padding-left: 10%;
    height: auto;
    word-wrap: break-word;
}
/*======= Progress bar ========*/
.conta{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
  .skill-container{
    width: 100%;
    background: #ddd;
  }
  .skill{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  .html{
    width: 90%;
    background-color: #4CAF50;
  }
  .css{
    width: 80%;
    background-color: #2196F3;
  }
  .js{
    width: 85%;
    background-color: #F44336;
  }
  .php{
    width: 80%;
    background-color: #808080;
  }
  