.container{
    width: 70%;
    margin: auto;
}

[class*="col-"] {
    padding: 16px;
}

/* medium devices */
@media (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col-md-4 {
        width: 33.333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-8 {
        width: 66.666%;
    }
}

@media (min-width: 900px) {
    .col-lg-4 {
        width: 33%;
    }
}